/* .App {
  text-align: center;
}

.user-location-text {
  font-size: 1.5rem;
}

.weather-icon {
  width: 200px;
  height: 200px;
} */

.container {
  max-width: 1085px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 1px 1px grey;
  text-decoration: wavy;
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;
}

.search {
  max-width: 500px;
}
